HELP.md
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Application Properties ###
/src/main/resources/application.properties
/kaica_lib_copy.sql
/kaica_lib_user.sql
/kaica_lib_author.sql
/kaica_lib_loan.sql
/kaica_lib_copy_type.sql
/kaica_lib_publisher.sql
/kaica_lib_title_type.sql
/kaica_lib_hibernate_sequence.sql
/kaica_lib_user_loans.sql
/kaica_lib_actors.sql
/kaica_lib_title_type_authors.sql
/kaica_lib_title.sql
