<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kaica Library</title>
</head>
<body>
<form method="POST" th:action="@{/add_copy_form}" th:object="${command}">
    <h1>Search a title</h1>

    <a th:href="@{/add_copy_form}" id="another">Search another title</a><br/>

    </div>

        <h3>Search for a title to add new copies of</h3>
        <p>Title name: <input type="text" th:field="*{titleSearchString}" /></p>

        <input type="submit" value="Search title"/>
    </form>
</body>
</html>